<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PU shopping </title>

	<!--== BOOTSTRAP CSS == -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- font css -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap" rel="stylesheet">

	<!--== CUSTOM CSS ==-->
	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media.css">


</head>

<body>
	<header>
		<div class="topNav">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-7">
						<div class="top_contact d-lg-block d-none">
							<ul class="list-unstyled">
								<li class="list-inline-item"><i class="fas fa-phone"></i>	&nbsp;	&nbsp;01722255863</li>
								<li class="list-inline-item"><i class="fas fa-envelope"></i>	&nbsp;	&nbsp;01722255863</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-5">
						<div class="top_social_icon text-right d-lg-block d-none ">
							<ul class="list-unstyled">
								<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-behance"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<nav id="navigation" class="navbar navbar-expand-lg sticky-top justify-content-sm-start  m-0 p-0">
		<div class="top_social_icon bg-dark text-right d-lg-none d-sm-block w-100 m-0 ">
			<ul class="list-unstyled">
				<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="fab fa-behance"></i></a></li>
			</ul>
		</div>
		<a class="navbar-brand logo  order-lg-0  order-1 ml-md-auto ml-sm-auto ml-lg-0 ml-1" href="index.html">
			<span>Renoshop</span>bee
		</a>
		<button class="navbar-toggler n_button align-self-start" type="button" >
			<span class="navbar-toggler-icon">
				<i class="fas fa-bars"></i>
			</span>
		</button>
		<div class="collapse navbar-collapse d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end p-lg-0 mt-5 mt-lg-0 menu" id="navbarNav">
			<ul class="navbar-nav mx-auto m-nav align-self-stretch">
				<li class="nav-item ">
					<a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#woman">Women</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#man">Man</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#kids">Kids</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Jewellery">Jewellery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#accessories">Accessories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contacts">Contacts</a>
				</li>
			</ul>
			<ul class="navbar-nav align-self-stretch">
				<!-- user -->
				<li class="nav-item dropdown">
					<div class="dropdown e_dropdown">
						<a class="btn btn_user" href="#" role="button" id="user_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-shopping-cart"></i><span class="cart_badge">3</span>
						</a>

						<div class="dropdown-menu c_button_menu" aria-labelledby="user_btn">
							<a class="dropdown-item " href="#">Your cart us empty</a>
							<a class="dropdown-item " href="#">Explore cart</a>
						</div>
					</div>
				</li>
				<!-- search -->
				<li class="nav-item dropdown">
					<div class="dropdown e_dropdown">
						<a class="btn btn_search " href="#" role="button" id="search_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-search"></i>
						</a>
						<div class="dropdown-menu s_dropdown_menu" aria-labelledby="search_btn">
							<form action="#">
								<input type="search" placeholder="Search">
								<button><i class="fas i fa-search"></i></button>
							</form>
						</div>
					</div>
				</li>
				<li class="nav-item dropdown">
					<div class="dropdown e_dropdown">
						<a class="btn btn_user" href="#" role="button" id="user_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user"></i>
						</a>
						<div class="dropdown-menu u_button_menu" aria-labelledby="user_btn">
							<a class="dropdown-item " href="#">Log in</a>
							<a class="dropdown-item " href="#">Sign Up</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</nav>	
	<div class="overlay"></div>
	<!-- banner section start -->
	<div class="banner_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="banner_head">
						<h2>The Best <br><span>Woocommerce</span> </h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<a href="#">buy now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- banner section end -->




